<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.2</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument remote Lua service</key>
		<array>
			<string>WatchApp1 WatchKit Extension - Watch Extension (iPhone Simulato</string>
		</array>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>WatchApp1.xcodeproj</string>
			<key>target</key>
			<string>WatchApp1</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>InterfaceController</string>
		<key>LuaAppWindow frame</key>
		<string>580 352 1345 874 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ClassExtensions</string>
			<string>InterfaceController</string>
			<string>DetailController</string>
			<string>SpearmanController</string>
			<string>MapController</string>
			<string>NotificationController</string>
			<string>images</string>
		</array>
		<key>images</key>
		<array>
			<string>elephant</string>
			<string>hippo</string>
			<string>pig</string>
			<string>penguin</string>
			<string>zebra</string>
			<string>goat</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos8.2</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>WatchApp</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>ClassExtensions</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>ClassExtensions</string>
			<key>SourceItemChangeTime</key>
			<real>440504684.77018303</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>0</integer>
				<key>SrcEditor Visible Length</key>
				<integer>191</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>DetailController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Breakpoints</key>
			<array>
				<integer>13</integer>
			</array>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>DetailController</string>
			<key>SourceItemChangeTime</key>
			<real>445856602.31820601</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>339</integer>
				<key>SrcEditor Visible Length</key>
				<integer>900</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>InterfaceController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>InterfaceController</string>
			<key>SourceItemChangeTime</key>
			<real>440630226.13247299</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>404</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1954</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>MapController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>MapController</string>
			<key>SourceItemChangeTime</key>
			<real>445856641.90135199</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>410</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1460</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>NotificationController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>NotificationController</string>
			<key>SourceItemChangeTime</key>
			<real>438473480.95825899</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>6</integer>
				<key>SrcEditor Selected Location</key>
				<integer>842</integer>
				<key>SrcEditor Visible Length</key>
				<integer>888</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>SpearmanController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Breakpoints</key>
			<array>
				<integer>33</integer>
			</array>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>SpearmanController</string>
			<key>SourceItemChangeTime</key>
			<real>445856618.174191</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>344</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1087</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>images</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>440504945</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>images.elephant</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438541284.21917301</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>284</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>297</real>
			</dict>
		</dict>
		<key>images.goat</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438560745.508569</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>300</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>255</real>
			</dict>
		</dict>
		<key>images.hippo</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438541243.28414798</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>262</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>212</real>
			</dict>
		</dict>
		<key>images.penguin</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438541516.26134002</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>297</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>296</real>
			</dict>
		</dict>
		<key>images.pig</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>440503802.11681402</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>320</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>280</real>
			</dict>
		</dict>
		<key>images.zebra</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438543397.07965302</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>380</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>340</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
