<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos9.0</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>WatchApp1.xcodeproj</string>
			<key>CustomBindingsLibCompilationOptions</key>
			<array>
				<string>-fembed-bitcode</string>
			</array>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-fobjc-arc</string>
				<string>-fmodules</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-09-16T12:39:26Z</date>
			<key>CustomBindingsLibPlatformSdkName</key>
			<string>iphoneos9.0</string>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUG6utYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QQAcIERIYHR4iJyguLzU8PT5CR0pO
			U1hZYWZna2x4eXp7fH1+g4SIiZWWl5ydoaKur7C1trq7x8jJzs/T
			1ODh4uZVJG51bGzUCQoLDA0ODxBWb2JqZWN0VG5hbWVaYXR0cmli
			dXRlc1YkY2xhc3OAA4ACgD+AE1DSEwwUF1pOUy5vYmplY3RzohUW
			gASAFIAR1AkKCwwZGhsQgAaABYASgBNZV2F0Y2hBcHAx0hMMHxeh
			IIAHgBHUCQoLDCMkJSaACYAIgAyAEF1BcHBEZWxlZ2F0ZS5o0ykM
			KissLVdOUy5iYXNlW05TLnJlbGF0aXZlgACAC4AKXxBrZmlsZTov
			Ly9Wb2x1bWVzL0JydW1lL0NlbGVkZXYlMjBDb2RlRmxvdy9Db2Rl
			RmxvdyUyMFNhbXBsZSUyMEFwcGxpY2F0aW9ucy9XYXRjaEFwcDEv
			V2F0Y2hBcHAxL0FwcERlbGVnYXRlLmjSMDEyM1okY2xhc3NuYW1l
			WCRjbGFzc2VzVU5TVVJMojI0WE5TT2JqZWN00zYTDDc5O1dOUy5r
			ZXlzoTiADaE6gA6AD1hzZWxlY3RlZAjSMDE/QF8QE05TTXV0YWJs
			ZURpY3Rpb25hcnmjP0E0XE5TRGljdGlvbmFyedIwMUNEXENERkxO
			YW1lZFVybKNFRjRcQ0RGTE5hbWVkVXJsXUNERkxOYW1lZEl0ZW3S
			MDFISVdOU0FycmF5okg00zYTDEtMO6CggA/SMDFPUF5DREZMTmFt
			ZWRHcm91cKNRUjReQ0RGTE5hbWVkR3JvdXBdQ0RGTE5hbWVkSXRl
			bdQJCgsMVFVWEIAWgBWAPoATXxAcV2F0Y2hBcHAxIFdhdGNoS2l0
			IEV4dGVuc2lvbtITDFoXpVtcXV5fgBeAIoApgDCAN4AR1AkKCwxi
			Y2QmgBmAGIAbgBBfEBVJbnRlcmZhY2VDb250cm9sbGVyLmjTKQwq
			KyxqgACAC4AaXxCKZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVk
			ZXYlMjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxp
			Y2F0aW9ucy9XYXRjaEFwcDEvV2F0Y2hBcHAxJTIwV2F0Y2hLaXQl
			MjBFeHRlbnNpb24vSW50ZXJmYWNlQ29udHJvbGxlci5o0zYTDG1y
			O6RubzhxgByAHYANgB6kc3R0doAfgCCAIIAhgA9fEBJnZW5lcmF0
			aW9uRmlsZURhdGVfEBRnZW5lcmF0aW9uRGlkU3VjY2VlZF8QF2dl
			bmVyYXRpb25MdWFNb2R1a2VQYXRoI0G6u3hsAAAACV8QE0ludGVy
			ZmFjZUNvbnRyb2xsZXLUCQoLDH+AgSaAJIAjgCaAEF8QEkRldGFp
			bENvbnRyb2xsZXIuaNMpDCorLIeAAIALgCVfEIdmaWxlOi8vL1Zv
			bHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVGbG93L0NvZGVGbG93
			JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL1dhdGNoQXBwMS9XYXRj
			aEFwcDElMjBXYXRjaEtpdCUyMEV4dGVuc2lvbi9EZXRhaWxDb250
			cm9sbGVyLmjTNhMMio87pG5vOHGAHIAdgA2AHqSQdHSTgCeAIIAg
			gCiADyNBuwDGxgAAAF8QEERldGFpbENvbnRyb2xsZXLUCQoLDJiZ
			miaAK4AqgC2AEF8QGE5vdGlmaWNhdGlvbkNvbnRyb2xsZXIuaNMp
			DCorLKCAAIALgCxfEI1maWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2Vs
			ZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBw
			bGljYXRpb25zL1dhdGNoQXBwMS9XYXRjaEFwcDElMjBXYXRjaEtp
			dCUyMEV4dGVuc2lvbi9Ob3RpZmljYXRpb25Db250cm9sbGVyLmjT
			NhMMo6g7pG5vOHGAHIAdgA2AHqSpdHSsgC6AIIAggC+ADyNBurt4
			bAAAAF8QFk5vdGlmaWNhdGlvbkNvbnRyb2xsZXLUCQoLDLGysyaA
			MoAxgDSAEF8QD01hcENvbnRyb2xsZXIuaNMpDCorLLmAAIALgDNf
			EIRmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRldiUyMENvZGVG
			bG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGljYXRpb25zL1dh
			dGNoQXBwMS9XYXRjaEFwcDElMjBXYXRjaEtpdCUyMEV4dGVuc2lv
			bi9NYXBDb250cm9sbGVyLmjTNhMMvME7pG5vOHGAHIAdgA2AHqTC
			dHTFgDWAIIAggDaADyNBurt4bAAAAF1NYXBDb250cm9sbGVy1AkK
			CwzKy8wmgDmAOIA7gBBfEBRTcGVhcm1hbkNvbnRyb2xsZXIuaNMp
			DCorLNKAAIALgDpfEIlmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2Vs
			ZWRldiUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBw
			bGljYXRpb25zL1dhdGNoQXBwMS9XYXRjaEFwcDElMjBXYXRjaEtp
			dCUyMEV4dGVuc2lvbi9TcGVhcm1hbkNvbnRyb2xsZXIuaNM2EwzV
			2jukbm84cYAcgB2ADYAepNt0dN6APIAggCCAPYAPI0G6u3hsAAAA
			XxASU3BlYXJtYW5Db250cm9sbGVy0zYTDOPkO6CggA/TNhMM5+g7
			oKCAD18QD05TS2V5ZWRBcmNoaXZlctHs7VRyb290gAEACAARABoA
			IwAtADIANwB6AIAAiQCQAJUAoACnAKkAqwCtAK8AsAC1AMAAwwDF
			AMcAyQDSANQA1gDYANoA5ADpAOsA7QDvAPgA+gD8AP4BAAEOARUB
			HQEpASsBLQEvAZ0BogGtAbYBvAG/AcgBzwHXAdkB2wHdAd8B4QHq
			AesB8AIGAgoCFwIcAikCLQI6AkgCTQJVAlgCXwJgAmECYwJoAncC
			ewKKApgCoQKjAqUCpwKpAsgCzQLTAtUC1wLZAtsC3QLfAugC6gLs
			Au4C8AMIAw8DEQMTAxUDogOpA64DsAOyA7QDtgO7A70DvwPBA8MD
			xQPaA/EECwQUBBUEKwQ0BDYEOAQ6BDwEUQRYBFoEXAReBOgE7wT0
			BPYE+AT6BPwFAQUDBQUFBwUJBQsFFAUnBTAFMgU0BTYFOAVTBVoF
			XAVeBWAF8AX3BfwF/gYABgIGBAYJBgsGDQYPBhEGEwYcBjUGPgZA
			BkIGRAZGBlgGXwZhBmMGZQbsBvMG+Ab6BvwG/gcABwUHBwcJBwsH
			DQcPBxgHJgcvBzEHMwc1BzcHTgdVB1cHWQdbB+cH7gfzB/UH9wf5
			B/sIAAgCCAQIBggICAoIEwgoCC8IMAgxCDMIOgg7CDwIPghQCFMI
			WAAAAAAAAAIBAAAAAAAAAO4AAAAAAAAAAAAAAAAAAAha
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>8.2</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>WatchApp1 WatchKit Extension</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.watchkit-extension</string>
			</dict>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>WatchApp1.xcodeproj</string>
			<key>target</key>
			<string>WatchApp1 WatchKit Extension</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.watchkit-extension</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>MapController</string>
		<key>LuaAppWindow frame</key>
		<string>211 574 1400 743 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>ClassExtensions</string>
			<string>InterfaceController</string>
			<string>DetailController</string>
			<string>SpearmanController</string>
			<string>MapController</string>
			<string>NotificationController</string>
			<string>images</string>
		</array>
		<key>images</key>
		<array>
			<string>elephant</string>
			<string>hippo</string>
			<string>pig</string>
			<string>penguin</string>
			<string>zebra</string>
			<string>goat</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>WatchApp</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>ClassExtensions</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>440504684.77018303</real>
		</dict>
		<key>DetailController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453834387.67676997</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>65</integer>
				<key>SrcEditor Visible Length</key>
				<integer>862</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>InterfaceController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453834381.17719603</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>71</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1087</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>MapController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453834403.355923</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>160</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1289</integer>
				<key>SrcEditor Visible Location</key>
				<integer>426</integer>
			</dict>
		</dict>
		<key>NotificationController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453834412.36742699</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>244</integer>
				<key>SrcEditor Visible Length</key>
				<integer>834</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>SpearmanController</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>SourceItemChangeTime</key>
			<real>453834861.65141398</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>355</integer>
				<key>SrcEditor Visible Length</key>
				<integer>968</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>images</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>440504945</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>images.elephant</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438541284.21917301</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>284</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>297</real>
			</dict>
		</dict>
		<key>images.goat</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438560745.508569</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>300</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>255</real>
			</dict>
		</dict>
		<key>images.hippo</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438541243.28414798</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>262</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>212</real>
			</dict>
		</dict>
		<key>images.penguin</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438541516.26134002</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>297</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>296</real>
			</dict>
		</dict>
		<key>images.pig</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>440503802.11681402</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>320</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>280</real>
			</dict>
		</dict>
		<key>images.zebra</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>438543397.07965302</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>380</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>340</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
